<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        HI ALL <%= title %>
        <p id="para"></p>
    </body>
    <script type="text/javascript">
        // const source = new EventSource("http://localhost:3030/register/server-sent/notification")
        // source.onmessage(data => {
        //     const p = document.createElement('p')
        //     const para = document.getElementById("para")
        //     para.innerHTML="hello"
        //     // para.appendChild(p)
        // })  
            const para = document.getElementById("para")
            para.innerHTML="hello"

    </script>
</html>