<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h2><%= page.title %></h2>
        <h4>Content : </h4>
        <p><%= page.content %></p>
    </body>
</html>