<!DOCTYPE html>
<html>
    <head>
        <title>Document</title>
    </head>
    <body>

        <p>Hello !! <b><%= name %></b> </p>
        <p>Message : <b><%= message %></b></p>


    </body>
</html>